<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <clear/>
    <add name="OracleConnectionString" connectionString="Data Source=ORCLTEST;User Id=v43sophis;Persist Security Info=false;Password=value"/>
    <!-- Not activated
    <add name="SQLSERVERREPBASE" connectionString="Data Source=ORCLTEST;User Id=v43sophis;Persist Security Info=false;Password=value" />
    -->
  </connectionStrings>
</configuration>