<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
    <section name="TransformationSettings" type="DataTransformation.Settings.TransformationIOConfigurationSection, DataTransformation" />
  </configSections>
  <nlog autoReload="true" throwExceptions="false" xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <variable name="appName" value="DataTransformation" />
    <targets async="true">
      <!--${callsite:className=true:includeSourcePath=false:methodName=true}-->
      <target xsi:type="Console" name="consoleLog" layout="${longdate}  ${level:uppercase=true} ${threadid} ${callsite:className=false}: ${message}${onexception:${newline}EXCEPTION\: ${exception:format=ToString,StackTrace}}" />
      <target xsi:type="File" name="fileLog" layout="${longdate}  ${level:uppercase=true} ${threadid} ${callsite:className=false}: ${message}${onexception:${newline}EXCEPTION\: ${exception:format=ToString,StackTrace}}" fileName="logs/DataTransformation.log" keepFileOpen="false" archiveFileName="logs/DataTransformation_${shortdate}.{##}.log" archiveNumbering="Sequence" archiveEvery="Day" maxArchiveFiles="30" />
      <target xsi:type="EventLog" name="eventlog" source="${appName}" layout="${message}${newline}${exception:format=ToString}" />
    </targets>
    <rules>
      <logger name="*" writeTo="consoleLog" minlevel="Debug" />
      <logger name="*" writeTo="fileLog" minlevel="Debug" />
      <logger name="*" writeTo="eventlog" minlevel="Error" />
    </rules>
  </nlog>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <TransformationSettings>
    <TransIOs>
      <!--<Trans Name="MIL MarketData" Type="MIL_MarketData" InputDir="Input" InputFilter="AIS_FUNDREPORTSSUMMARY_*LY_????????.csv" OutputDir="Output" OutputFile="AIS_FUNDREPORTSSUMMARY_DAILY.xml" BackupDir="Backup"></Trans>-->
      <Trans Name="MIL NavFund" Type="MIL_NavFund" InputDir="Input" InputFilter="AIS_FUNDREPORTSSUMMARY_*LY_????????.csv" OutputDir="Output" OutputFile="RBC_NAV_InternalFunds_MIL.csv" BackupDir="Backup"></Trans>
      <Trans Name="MIL Trade RMA" Type="MIL_Trade_RMA" InputDir="Input" InputFilter="SSC_Transactions.csv" OutputDir="Output" OutputFile="SSB_DAILY_@SSBSeq.csv" BackupDir="Backup"></Trans>
      <Trans Name="MIL Cash RMA" Type="MIL_Cash_RMA" InputDir="Input" InputFilter="SSC_CashLedger.csv" OutputDir="Output" OutputFile="SSB_DAILY_@SSBSeq.csv" BackupDir="Backup"></Trans>
      <Trans Name="BBH Fee" Type="BBH_Fee" InputDir="Input" InputFilter="BBH_Fee.csv" OutputDir="Output" OutputFile="BBH_Fee.xml" BackupDir="Backup"></Trans>
      <Trans Name="BBH Initial Margin Original" Type="BBH_IM_Orig" InputDir="Input" InputFilter="BBH_IM_Orig.csv" OutputDir="Output" OutputFile="BBH_IM_Orig.xml" BackupDir="Backup"></Trans>
      <Trans Name="BBH Initial Margin Mirroring" Type="BBH_IM_Mirr" InputDir="Input" InputFilter="BBH_IM_Mirr.csv" OutputDir="Output" OutputFile="BBH_IM_Mirr.xml" BackupDir="Backup"></Trans>
      <Trans Name="BBH Initial Margin Original Reversal" Type="BBH_IM_Orig_Rev" InputDir="Input" InputFilter="BBH_IM_Orig_Rev.csv" OutputDir="Output" OutputFile="BBH_IM_Orig_Rev.xml" BackupDir="Backup"></Trans>
      <Trans Name="BBH Initial Margin Mirroring Reversal" Type="BBH_IM_Mirr_Rev" InputDir="Input" InputFilter="BBH_IM_Mirr_Rev.csv" OutputDir="Output" OutputFile="BBH_IM_Mirr_Rev.xml" BackupDir="Backup"></Trans>
      <Trans Name="BBH Monthly Interest" Type="BBH_MI" InputDir="Input" InputFilter="BBH_MI.csv" OutputDir="Output" OutputFile="BBH_MI.xml" BackupDir="Backup"></Trans>
      <Trans Name="BBH Margin Calls Original" Type="BBH_MC_Orig" InputDir="Input" InputFilter="BBH_MC_Orig.csv" OutputDir="Output" OutputFile="BBH_MC_Orig.xml" BackupDir="Backup"></Trans>
      <Trans Name="BBH Margin Calls Mirroring" Type="BBH_MC_Mirr" InputDir="Input" InputFilter="BBH_MC_Mirr.csv" OutputDir="Output" OutputFile="BBH_MC_Mirr.xml" BackupDir="Backup"></Trans>
      <Trans Name="BBH DIM Trade" Type="BBH_DIM_Trade" InputDir="Input" InputFilter="BBH_DIM_Trade.txt" OutputDir="Output" OutputFile="BBH_DIM_Trade.xml" BackupDir="Backup"></Trans>
      <Trans Name="BBH DIM Trade RMA" Type="BBH_DIM_Trade_RMA" InputDir="Input" InputFilter="BBH_DIM_Trade_RMA.txt" OutputDir="Output" OutputFile="SSB_DAILY_@SSBSeq.csv" BackupDir="Backup"></Trans>
      <Trans Name="BBH Error Parser" Type="FileConnector_ErrorParser" InputDir="Input" InputFilter="BBH_*_output.xml" OutputDir="Output" OutputFile="@InputFile.csv" BackupDir="Backup" EmailRecipientTo="quoc.datpham@mediolanum.ie" EmailBody="&lt;h3&gt;>You find here attached the report.&lt;/h3&gt;"></Trans>
      <Trans Name="BBH DIM Trade Cancel" Type="BBH_DIM_Trade_Cancel" InputDir="Input" InputFilter="BBH_DIM_Trade_Cancel.txt" OutputDir="Output" OutputFile="BBH_DIM_Trade_Cancel.xml" BackupDir="Backup"></Trans>
      <Trans Name="BBH DIM Trade Ack" Type="BBH_DIM_Trade_Ack" InputDir="Input" InputFilter="BBH_DIM_Trade_Ack.txt" OutputDir="Output" OutputFile="BBH_DIM_Trade_Ack.xml" BackupDir="Backup"></Trans>
      <Trans Name="BBH DIM Cash Original" Type="BBH_DIM_Cash_Orig" InputDir="Input" InputFilter="BBH_DIM_Cash_Orig.txt" OutputDir="Output" OutputFile="BBH_DIM_Cash_Orig.xml" BackupDir="Backup"></Trans>
      <Trans Name="BBH DIM Cash Mirroring" Type="BBH_DIM_Cash_Mirr" InputDir="Input" InputFilter="BBH_DIM_Cash_Mirr.txt" OutputDir="Output" OutputFile="BBH_DIM_Cash_Mirr.xml" BackupDir="Backup"></Trans>
      <Trans Name="Cash Collateral Trade" Type="SSB2Rbc_CashCollateralTrade" InputDir="Input" InputFilter="MIFL_ME_05MOVDV_3" OutputDir="Output" OutputFile="SSB_DAILY_@SSBSeq.csv" BackupDir="Backup"></Trans>
      <!--<Trans Name="Cash Monthly Interest" Type="SSB2Rbc_CashMonthlyInterest" InputDir="Input" InputFilter="MIFL_ME_05MOVDV_2" OutputDir="Output" OutputFile="SSB_DAILY_@SSBSeq.csv" BackupDir="Backup"></Trans>-->
      <Trans Name="Corporate Action Early Redemption" Type="SSB2Rbc_CorporateAction" InputDir="Input" InputFilter="MIFL_ME_04MOVTI_1" OutputDir="Output" OutputFile="SSB_DAILY_@SSBSeq.csv" BackupDir="Backup"></Trans>
      <Trans Name="Corporate Action Final Redemption" Type="SSB2Rbc_CorporateActionFR" InputDir="Input" InputFilter="MIFL_ME_04MOVTI_2" OutputDir="Output" OutputFile="Final_Redemption.csv" BackupDir="Backup"></Trans>
      <Trans Name="Subscription Redemption" Type="SSB2Rbc_SR" InputDir="Input" InputFilter="MIFL_ME_11MOVCN_1" OutputDir="Output" OutputFile="SSB_DAILY_@SSBSeq.csv" BackupDir="Backup"></Trans>
      <Trans Name="Cash Trade" Type="SSB2Rbc_CashTrade" InputDir="Input" InputFilter="MIFL_ME_11MOVCN_2" OutputDir="Output" OutputFile="SSB_DAILY_@SSBSeq.csv" BackupDir="Backup"></Trans>
      <Trans Name="Equity Trade" Type="SSB2Rbc_EquityTrade" InputDir="Input" InputFilter="MIFL_ME_04MOVTI_5" OutputDir="Output" OutputFile="SSB_DAILY_@SSBSeq.csv" BackupDir="Backup"></Trans>
      <Trans Name="Fixed Income" Type="SSB2Rbc_FixedIncomeTrade" InputDir="Input" InputFilter="MIFL_ME_04MOVTI_6" OutputDir="Output" OutputFile="SSB_DAILY_@SSBSeq.csv" BackupDir="Backup"></Trans>
      <Trans Name="Futures" Type="SSB2Rbc_FutureTrade" InputDir="Input" InputFilter="MIFL_ME_04MOVTI_7" OutputDir="Output" OutputFile="SSB_DAILY_@SSBSeq.csv" BackupDir="Backup"></Trans>
      <Trans Name="Options" Type="SSB2Rbc_OptionTrade" InputDir="Input" InputFilter="MIFL_ME_04MOVTI_8" OutputDir="Output" OutputFile="SSB_DAILY_@SSBSeq.csv" BackupDir="Backup"></Trans>
      <Trans Name="Swap" Type="SSB2Rbc_SwapTrade" InputDir="Input" InputFilter="MIFL_ME_04MOVTI_9" OutputDir="Output" OutputFile="SSB_DAILY_@SSBSeq.csv" BackupDir="Backup"></Trans>
      <Trans Name="Fx Trade" Type="SSB2Rbc_FxTrade" InputDir="Input" InputFilter="MIFL_ME_05MOVDV_1" OutputDir="Output" OutputFile="SSB_DAILY_@SSBSeq.csv" BackupDir="Backup"></Trans>
      <Trans Name="Nav Fund" Type="SSB2Rbc_NavFund" InputDir="Input" InputFilter="MIFL_ME_10FLSNV_1" OutputDir="Output" OutputFile="RBC_NAV_InternalFunds_SSB.csv" BackupDir="Backup"></Trans>
      <Trans Name="Nav Strategy" Type="SSB2Rbc_NavStrategy" InputDir="Input" InputFilter="MIFL_ME_10FLSNV_2" OutputDir="D:\misys\services_64\sophis\ETL\bin\Inputs" OutputFile="Strategy_Share_NAV_SSB.csv" BackupDir="Backup"></Trans>
      <Trans Name="AllCustody_Prep" Type="SSBAllCustody_Prep" InputDir="Input" InputFilter="ALL_CUSTODY_TRANSACTIONS.csv" OutputDir="Output" OutputFile="SSB_DAILY_@SSBSeq.csv" BackupDir="Backup" FailureDir="Failure"></Trans>
      <Trans Name="AllCustody_Prep_Mirr" Type="SSBAllCustody_Prep_Mirr" InputDir="Input" InputFilter="ALL_CUSTODY_TRANSACTIONS_MIRR.csv" OutputDir="Output" OutputFile="SSB_DAILY_@SSBSeq.csv" BackupDir="Backup" FailureDir="Failure"></Trans>
      <!--<Trans Name="AllCustody_CollateralCash" Type="SSBAllCustody_CollateralCash" InputDir="Input" InputFilter="ALL_CUSTODY_TRANSACTIONS_PS.csv" OutputDir="Output" OutputFile="ALL_CUSTODY_TRANSACTIONS_PS_@FileSeq.xml" BackupDir="Backup"></Trans>-->
      <Trans Name="Fund Settle Order Execution" Type="FundSettle2Rbc_OrderExec" InputDir="Input" InputFilter="ParticipantAllOrders??????????????.csv" OutputDir="Output" OutputFile="FundSettle_@FileSeq.csv" BackupDir="Backup"></Trans>
    </TransIOs>
  </TransformationSettings>
  <appSettings>
    <add key="SMTPHost" value="extrl.options-it.com" />
    <add key="SMTPPort" value="25" />
    <add key="SMTPFrom" value="donotreply@mediolanum.ie" />
    <add key="SMTPDomain" value="options-it.com" />
    <add key="SMTPUsername" value="" />
    <add key="SMTPPassowrd" value="" />
    <add key="SMTPEnableSSL" value="False" />
    <add key="KeepEvaluationSourceFile" value="False" />
    <add key="OracleConnectionString" value="Data Source=(DESCRIPTION = (ADDRESS = (PROTOCOL = TCP)(HOST = mdluatora01p)(PORT = 1521)) (CONNECT_DATA = (SERVER = DEDICATED) (SERVICE_NAME = MDLPRJUAT)));User ID=MEDIOUAT74;Password=medioprodvalue" />
    <!--<add key="OracleConnectionString" value="Data Source=(DESCRIPTION = (ADDRESS = (PROTOCOL = TCP)(HOST = mdldevora01r.options-it.com)(PORT = 1521)) (CONNECT_DATA = (SERVER = DEDICATED) (SERVICE_NAME = MDLPRJDEV)));User ID=MEDIOCLIENT74;Password=MEDIOCLIENT74" />-->
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
