--{{SOPHIS_SQL (do not delete this line)
DELETE FROM AM_INVESTOR_ACCOUNTS where COMMENTS like '%TO_DELETE%';
DELETE FROM AM_INVESTOR_DEPOSITARIES where NOT EXISTS (SELECT 1 FROM AM_INVESTOR_ACCOUNTS WHERE AM_INVESTOR_ACCOUNTS.depositary = AM_INVESTOR_DEPOSITARIES.depositary AND AM_INVESTOR_ACCOUNTS.investor = AM_INVESTOR_DEPOSITARIES.investor);
--}}SOPHIS_SQL