<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="Sophis.Web.Api" type="Sophis.Web.WebConfigurationGroup, Sophis.Web.Configuration, Version=7.1.3.0, Culture=neutral, PublicKeyToken=799442e4f418bb07" >
            <section name="Connection" type="Sophis.Web.ConfigurationWebConnection, Sophis.Web.Configuration, Version=7.1.3.0, Culture=neutral, PublicKeyToken=799442e4f418bb07" allowExeDefinition="MachineToLocalUser" />
            <section name="DataExchangeService" type="Sophis.Web.ConfigurationWebService, Sophis.Web.Configuration, Version=7.1.3.0, Culture=neutral, PublicKeyToken=799442e4f418bb07" allowExeDefinition="MachineToLocalUser" />
            <section name="SoaMethodsDesignerService" type="Sophis.Web.ConfigurationWebService, Sophis.Web.Configuration, Version=7.1.3.0, Culture=neutral, PublicKeyToken=799442e4f418bb07" allowExeDefinition="MachineToLocalUser" />
            <section name="ValuationService" type="Sophis.Web.ConfigurationWebService, Sophis.Web.Configuration, Version=7.1.3.0, Culture=neutral, PublicKeyToken=799442e4f418bb07" allowExeDefinition="MachineToLocalUser" />
        </sectionGroup>
        <sectionGroup name="UniversalAdapter" type="sophis.connector.configuration.UniversalAdapterGroup, Sophis.UniversalAdapter.Configuration, Version=7.1.3.0, Culture=neutral, PublicKeyToken=799442e4f418bb07" >
            <section name="SoaConnection" type="sophis.connector.configuration.SoaConnectionSection, Sophis.UniversalAdapter.Configuration, Version=7.1.3.0, Culture=neutral, PublicKeyToken=799442e4f418bb07" allowExeDefinition="MachineToLocalUser" />
        </sectionGroup>
    </configSections>
    <UniversalAdapter>
        <SoaConnection>
            <SoaServers>
                <clear />
                <SoaServer ServerLogin="ISUSER" ServerPassword="ICAOMGFIIPIKALEEEPFCDBLIAIAEGCAD"
                    DataExchangeUri="http://localhost:9070/DataExchangeWsHttpRouter/DataExchangeService"
                    DataExchangeTimeout="1" />
            </SoaServers>
        </SoaConnection>
    </UniversalAdapter>


  <Sophis.Web.Api>
    <Connection UserName="ISUSER" Password="isuser"
                ReconnectionDelay="60" LogFile="SophisETL.log" LogVerbosity="0" />
    <DataExchangeService Address="http://localhost:9090/DataExchangeWsHttpRouter\DataExchangeService" />
    <SoaMethodsDesignerService Address="http://localhost:9090/SoaMethodDesignerWsHttpRouter/SoaMethodDesignerService" />
    <ValuationService Address="http://localhost:9090/ValuationWsHttpRouter/ValuationService" />
  </Sophis.Web.Api>
  
</configuration>