<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <clear />
    <add name="ORASOPHISTEST" connectionString="Data Source=ORCLTEST;User Id=v43sophis;Persist Security Info=false;Password=value" />
    <add name="SQLSERVERREPBASE" connectionString="Data Source=ORCLTEST;User Id=v43sophis;Persist Security Info=false;Password=value" />
  </connectionStrings>
</configuration>