<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
    <section name="ConfigurationNode" type="sophis.configuration.ConfigurationNodeSection, SophisConfiguration, Version=21.3.0.0, Culture=neutral, PublicKeyToken=799442e4f418bb07" allowExeDefinition="MachineToLocalUser" />
    <sectionGroup name="Common" type="sophis.configuration.CommonConfigurationGroup, SophisCommonConfiguration, Version=21.3.0.0, Culture=neutral, PublicKeyToken=799442e4f418bb07" >
      <section name="Log" type="sophis.configuration.LogConfiguration, SophisCommonConfiguration, Version=21.3.0.0, Culture=neutral, PublicKeyToken=799442e4f418bb07" allowExeDefinition="MachineToLocalUser" />
      <section name="OpenIdConnectClient" type="sophis.configuration.OidcClientConfigurationSection, SophisCommonConfiguration, Version=21.3.0.0, Culture=neutral, PublicKeyToken=799442e4f418bb07" allowExeDefinition="MachineToLocalUser" />
      <section name="HttpHosting" type="sophis.configuration.HttpHostingConfigurationSection, SophisCommonConfiguration, Version=21.3.0.0, Culture=neutral, PublicKeyToken=799442e4f418bb07" allowExeDefinition="MachineToLocalUser" />
      <section name="Plugins" type="sophis.configuration.PluginsConfiguration, SophisCommonConfiguration, Version=21.3.0.0, Culture=neutral, PublicKeyToken=799442e4f418bb07" allowExeDefinition="MachineToLocalUser" />
    </sectionGroup>
    <sectionGroup name="File" type="sophis.connector.file.configuration.FileConnectorConfigurationGroup, Sophis.FileConnector.Configuration, Version=21.3.0.0, Culture=neutral, PublicKeyToken=799442e4f418bb07" >
      <section name="FileConnector" type="sophis.connector.file.configuration.FileConnectorSection, Sophis.FileConnector.Configuration, Version=21.3.0.0, Culture=neutral, PublicKeyToken=799442e4f418bb07" allowExeDefinition="MachineToLocalUser" />
    </sectionGroup>
    <sectionGroup name="UniversalAdapter" type="sophis.connector.configuration.UniversalAdapterGroup, Sophis.UniversalAdapter.Configuration, Version=21.3.0.0, Culture=neutral, PublicKeyToken=799442e4f418bb07" >
      <section name="Core" type="sophis.connector.configuration.CoreSection, Sophis.UniversalAdapter.Configuration, Version=21.3.0.0, Culture=neutral, PublicKeyToken=799442e4f418bb07" allowExeDefinition="MachineToLocalUser" />
      <section name="SoaConnection" type="sophis.connector.configuration.SoaConnectionSection, Sophis.UniversalAdapter.Configuration, Version=21.3.0.0, Culture=neutral, PublicKeyToken=799442e4f418bb07" allowExeDefinition="MachineToLocalUser" />
      <section name="XML" type="sophis.connector.configuration.XMLSection, Sophis.UniversalAdapter.Configuration, Version=21.3.0.0, Culture=neutral, PublicKeyToken=799442e4f418bb07" allowExeDefinition="MachineToLocalUser" />
    </sectionGroup>
  </configSections>
  <nlog autoReload="true" throwExceptions="false" xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <variable name="appName" value="ToolkitSercice" />
    <targets async="true">
      <!--${callsite:className=true:includeSourcePath=false:methodName=true}-->
      <target xsi:type="Console" name="consoleLog" layout="${longdate}  ${level:uppercase=true} ${threadid} ${callsite:className=false}: ${message}${onexception:${newline}EXCEPTION\: ${exception:format=ToString,StackTrace}}" />
      <target xsi:type="File" name="fileLog" layout="${longdate}  ${level:uppercase=true} ${threadid} ${callsite:className=false}: ${message}${onexception:${newline}EXCEPTION\: ${exception:format=ToString,StackTrace}}" fileName="logs/ToolkitSercice.log" keepFileOpen="false" archiveFileName="logs/ToolkitSercice_${shortdate}.{##}.log" archiveNumbering="Sequence" archiveEvery="Day" maxArchiveFiles="30" />
      <target xsi:type="EventLog" name="eventlog" source="${appName}" layout="${message}${newline}${exception:format=ToString}" />
    </targets>
    <rules>
      <logger name="*" writeTo="consoleLog" minlevel="Debug" />
      <logger name="*" writeTo="fileLog" minlevel="Debug" />
      <logger name="*" writeTo="eventlog" minlevel="Error" />
    </rules>
  </nlog>
  <ConfigurationNode Name="FileConnector" Type="sophis.connector.file.configuration.FileConnectorConfigurationNode, Sophis.FileConnector.Configuration, Version=21.3.0.0, Culture=neutral, PublicKeyToken=799442e4f418bb07" />
  <UniversalAdapter>
    <Core AdapterAssembly="sophis.FileConnector" AdapterClassName="sophis.connector.file.SophisFileConnector"
        SourceID="FileConnector" PartiallyAcceptedInError="false" />
    <SoaConnection ForceOneQueue="true" MaxRetry="3" UseOpenApi="false"
        IntegrationServerUri="">
      <SoaServers>
        <clear />
        <SoaServer MaxConnections="1" ServerLogin="ISUSER" ServerPassword="ICAOMGFIIPIKALEEEPFCDBLIAIAEGCAD"
            EnableCookies="false" DataExchangeUri="http://mdlprjuatapp01p.options-it.com:9090/IS/IntegrationServicesRouter/"
            IsRMA="false" DataExchangeTimeout="1440" ValuationUri="http://mdlprjuatapp01p.options-it.com:9090/IS/IntegrationServicesRouter/"
            ValuationTimeout="1440" MethodDesignerUri="http://mdlprjuatapp01p.options-it.com:9090/IS/IntegrationServicesRouter/"
            MethodDesignerTimeout="1440" />
      </SoaServers>
    </SoaConnection>
  </UniversalAdapter>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <appSettings>
    <add key="SMTPHost" value="extrl.options-it.com" />
    <add key="SMTPPort" value="25" />
    <add key="SMTPFrom" value="donotreply@mediolanum.ie" />
    <add key="SMTPDomain" value="options-it.com" />
    <add key="SMTPUsername" value="" />
    <add key="SMTPPassowrd" value="" />
    <add key="SMTPEnableSSL" value="False" />
    <add key="ErrEmailRecipientTo" value="datpham.quoc@phipartners.com" />
    <add key="ErrEmailRecipientCC" value="datpham.quoc@phipartners.com" />
    <add key="ErrEmailSubject" value="DOS Error" />
    <add key="ErrEmailBody" value="&lt;h3&gt;Please find attached the error report of Dim OTC Service.&lt;/h3&gt;" />
    <add key="InputFolder" value="Input" />
    <add key="FileFilter" value="*.csv" />
    <add key="DSTaskCheckInterval" value="20" /> <!--in seconds-->
    <add key="DSTimeout" value="15" /> <!--in minutes-->
    <add key="DIM_OTC_TimerDOSInterval" value="5" /> <!--in minutes-->
    <add key="DIM_OTC_InputFolder" value="DIM_OTC_Input" />
    <add key="DIM_OTC_FilterCsv" value="*.csv" />
    <add key="DIM_OTC_FilterXml" value="*.xml" />
    <add key="DIM_OTC_OutputFile_INTRTSWP" value="DIM_OTC_Output\OTC_Blotter_IRS.csv" />
    <add key="DIM_OTC_OutputFile_FXOPTIONS" value="DIM_OTC_Output\OTC_Blotter_FXOptions.csv" />
    <add key="DIM_OTC_Blotter_Trade" value="DIM_OTC_Output\OTC_Blotter_Trade.csv" />
    <add key="DIM_OTC_Lookup_InstrumentRef" value="DIM_OTC_Output\OTC_Lookup_InstrumentRef.txt" />
    <add key="DIM_OTC_PostTransCommandLine" value="cmd.exe" />
    <add key="DIM_OTC_PostTransCommandLineArgs" value="/C copy /b @OutputFile &quot;c:\Users\qdatpham_mdl\Documents\Fusion Invest\DataTransformation\bin\x64\Debug\Input\@TargetFile&quot;" />
    <add key="DIM_OTC_DS_User" value="DSAdmin" />
    <add key="DIM_OTC_DS_ExternalReference_Type" value="TICKER" />
    <add key="DIM_OTC_DS_DataSource" value="AC-Adhoc" />
    <add key="DIM_OTC_DS_SecurityType" value="InterestRate" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>