<configuration>
    <configSections>
        <section name="ConfigurationNode" type="sophis.configuration.ConfigurationNodeSection, SophisConfiguration, Version=21.2.0.0, Culture=neutral, PublicKeyToken=799442e4f418bb07" allowExeDefinition="MachineToLocalUser" />
        <sectionGroup name="OACommon" type="sophis.OA.Common.Configuration.OACommonGroup, Sophis.OA.Common.Configuration, Version=21.2.0.0, Culture=neutral, PublicKeyToken=799442e4f418bb07" >
            <section name="TablesDefinition" type="sophis.OA.Common.Configuration.TablesDefinitionSection, Sophis.OA.Common.Configuration, Version=21.2.0.0, Culture=neutral, PublicKeyToken=799442e4f418bb07" allowExeDefinition="MachineToLocalUser" />
        </sectionGroup>
        <sectionGroup name="OrderAdapter" type="sophis.configuration.order.OrderCoreGroup, SophisAdapterCommon.Configuration, Version=21.2.0.0, Culture=neutral, PublicKeyToken=799442e4f418bb07" >
            <section name="Core" type="sophis.configuration.order.OrderCoreSection, SophisAdapterCommon.Configuration, Version=21.2.0.0, Culture=neutral, PublicKeyToken=799442e4f418bb07" allowExeDefinition="MachineToLocalUser" />
            <section name="OrderPersistence" type="sophis.configuration.order.OrderPersistenceSection, SophisAdapterCommon.Configuration, Version=21.2.0.0, Culture=neutral, PublicKeyToken=799442e4f418bb07" allowExeDefinition="MachineToLocalUser" />
        </sectionGroup>
        <sectionGroup name="RBC" type="MEDIO.RBCOrderAdapter.RBCConfigurationSectionGroup, MEDIO.RBCOrderAdapter.net, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" >
            <section name="EventsConfiguration" type="MEDIO.RBCOrderAdapter.WFEventsConfigurationSection, MEDIO.RBCOrderAdapter.net, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" allowExeDefinition="MachineToLocalUser" />
            <section name="FTPConnection" type="MEDIO.RBCOrderAdapter.FTPConfigurationSection, MEDIO.RBCOrderAdapter.net, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" allowExeDefinition="MachineToLocalUser" />
            <section name="RBCConfiguration" type="MEDIO.RBCOrderAdapter.ConfigurationSectionList, MEDIO.RBCOrderAdapter.net, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" allowExeDefinition="MachineToLocalUser" />
        </sectionGroup>
        <sectionGroup name="Service" type="sophis.configuration.common.ServiceGroup, SophisAdapterCommon.Configuration, Version=21.2.0.0, Culture=neutral, PublicKeyToken=799442e4f418bb07" >
            <section name="Service" type="sophis.configuration.common.ServiceSection, SophisAdapterCommon.Configuration, Version=21.2.0.0, Culture=neutral, PublicKeyToken=799442e4f418bb07" allowExeDefinition="MachineToLocalUser" />
        </sectionGroup>
    </configSections>
    <ConfigurationNode Name="OrderAdapterCommon" Type="sophis.OA.Common.Configuration.OACommonNode, Sophis.OA.Common.Configuration, Version=21.2.0.0, Culture=neutral, PublicKeyToken=799442e4f418bb07" />
    <OrderAdapter>
        <Core AdapterClass="MEDIO.RBCOrderAdapter.CSxRBCOrderAdapter"
            AdapterAssembly="MEDIO.RBCOrderAdapter.net" InstrumentReferences="TICKER"
            MarketReferences="MIC" />
    </OrderAdapter>
    <RBC>
        <RBCConfiguration ToRBCFolder="D:\RBC_FTP_test\SentToRBC" FromRBCFolder="D:\RBC_FTP_test\FromRBC"
            RMAdapterFilePath="D:\misys\services_64\sophis\RichMarketAdapter\RichMarketAdapter\data\sophisFile" />
        <FTPConnection FtpUrl="ftp://localhost" FtpPort="21" FtpUsername="RBCUser"
            FtpPassword="password" />
        <EventsConfiguration UseACKFiles="true" />
    </RBC>
    <Service>
        <Service InitialConnection="0">
            <ServiceTypes>
                <clear />
                <add ClassName="sophis.orderadapter.GenericOrderAdapterTask"
                    Module="SophisGenericOrderAdapter" />
            </ServiceTypes>
        </Service>
    </Service>
</configuration>