<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="ConfigurationNode" type="sophis.configuration.ConfigurationNodeSection, SophisConfiguration, Version=21.2.0.0, Culture=neutral, PublicKeyToken=799442e4f418bb07" allowExeDefinition="MachineToLocalUser" />
  <sectionGroup name="RichMarketAdapter" type="sophis.configuration.rich.RichCoreGroup, SophisAdapterCommon.Configuration, Version=21.2.0.0, Culture=neutral, PublicKeyToken=799442e4f418bb07" >
			<section name="Core" type="sophis.configuration.rich.CoreSection, SophisAdapterCommon.Configuration, Version=21.2.0.0, Culture=neutral, PublicKeyToken=799442e4f418bb07" allowExeDefinition="MachineToLocalUser" />
   <section name="Persistence" type="sophis.configuration.rich.PersistenceSection, SophisAdapterCommon.Configuration, Version=21.2.0.0, Culture=neutral, PublicKeyToken=799442e4f418bb07" allowExeDefinition="MachineToLocalUser" />
   <section name="Transaction" type="sophis.configuration.rich.TransactionSection, SophisAdapterCommon.Configuration, Version=21.2.0.0, Culture=neutral, PublicKeyToken=799442e4f418bb07" allowExeDefinition="MachineToLocalUser" />
   <section name="XML" type="sophis.configuration.rich.XMLSection, SophisAdapterCommon.Configuration, Version=21.2.0.0, Culture=neutral, PublicKeyToken=799442e4f418bb07" allowExeDefinition="MachineToLocalUser" />
  </sectionGroup>
		<sectionGroup name="Service" type="sophis.configuration.common.ServiceGroup, SophisAdapterCommon.Configuration, Version=21.2.0.0, Culture=neutral, PublicKeyToken=799442e4f418bb07" >
			<section name="Service" type="sophis.configuration.common.ServiceSection, SophisAdapterCommon.Configuration, Version=21.2.0.0, Culture=neutral, PublicKeyToken=799442e4f418bb07" allowExeDefinition="MachineToLocalUser" />
  </sectionGroup>
		<sectionGroup name="SophisFile" type="RichMarketAdapter.ticket.adapters.sophisfile.SophisFileGroup, SophisFile, Version=21.2.0.0, Culture=neutral, PublicKeyToken=799442e4f418bb07" >
			<section name="File" type="RichMarketAdapter.ticket.adapters.sophisfile.SophisFileSection, SophisFile, Version=21.2.0.0, Culture=neutral, PublicKeyToken=799442e4f418bb07" allowExeDefinition="MachineToLocalUser" />
   <section name="Mail" type="sophis.configuration.file.MailAlertSection, SophisAdapterCommon.Configuration, Version=21.2.0.0, Culture=neutral, PublicKeyToken=799442e4f418bb07" allowExeDefinition="MachineToLocalUser" />
  </sectionGroup>
	 <sectionGroup name="APIConfiguration" type="Sophis.API.Configuration.APIConfigurationGroup, Sophis.API.Configuration, Version=21.2.0.0, Culture=neutral, PublicKeyToken=799442e4f418bb07" >
   <section name="Toolkit" type="Sophis.API.Configuration.ToolkitSection, Sophis.API.Configuration, Version=21.2.0.0, Culture=neutral, PublicKeyToken=799442e4f418bb07" allowExeDefinition="MachineToLocalUser" />
  </sectionGroup>
 </configSections>
	<ConfigurationNode Name="RmaSophisFile" Type="RichMarketAdapter.ticket.adapters.sophisfile.SophisFileNode, SophisFile, Version=21.2.0.0, Culture=neutral, PublicKeyToken=799442e4f418bb07" />
 <RichMarketAdapter>
		<Core SourceID="RBCOrderAdapter" Adapter="SophisFile" AdapterClass="RichMarketAdapter.ticket.adapters.sophisfile.SophisAdapter"
   AdapterAssembly="SophisFile" Communicator="xml" GenerateExternal="true" />
  <Persistence />
  <Transaction />
  <XML ServerURL="http://FR1CSWPSFFR0021:9090/DataExchangeWsHttpRouter\DataExchangeServiceRMA"
   Login="RBCUploader" Password="LEFHCHFLIFDHAGMHDNHOCEACHGPMDGMK" />
 </RichMarketAdapter>
	<Service>
		<Service>
   <ServiceTypes>
    <add ClassName="RichMarketAdapter.core.RichMarketAdapterTask"
     Module="SophisRichCore" />
   </ServiceTypes>
  </Service>
 </Service>
 <SophisFile>
  <File />
  <Mail />
 </SophisFile>
 <APIConfiguration>
  <Toolkit>
   <DLLs>
    <clear />
   </DLLs>
  </Toolkit>
 </APIConfiguration>
</configuration>