<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
    <section name="oracle.manageddataaccess.client" type="OracleInternal.Common.ODPMSectionHandler, Oracle.ManagedDataAccess, Version=4.122.1.0, Culture=neutral, PublicKeyToken=89b483f429c47342"/>
  </configSections>
  <nlog autoReload="true" throwExceptions="false" xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <variable name="appName" value="TKOPriceFeed"/>
    <targets async="true">
      <!--${callsite:className=true:includeSourcePath=false:methodName=true}-->
      <target xsi:type="Console" name="consoleLog" layout="${longdate}  ${level:uppercase=true} ${threadid} ${callsite:className=false}: ${message}${onexception:${newline}EXCEPTION\: ${exception:format=ToString,StackTrace}}"/>
      <target xsi:type="File" name="fileLog" layout="${longdate}  ${level:uppercase=true} ${threadid} ${callsite:className=false}: ${message}${onexception:${newline}EXCEPTION\: ${exception:format=ToString,StackTrace}}" fileName="logs/TKOPriceFeed.log" keepFileOpen="false" archiveFileName="logs/TKOPriceFeed_${shortdate}.{##}.log" archiveNumbering="Sequence" archiveEvery="Day" maxArchiveFiles="30"/>
      <target xsi:type="EventLog" name="eventlog" source="${appName}" layout="${message}${newline}${exception:format=ToString}"/>
    </targets>
    <rules>
      <logger name="*" writeTo="consoleLog" minlevel="Debug"/>
      <logger name="*" writeTo="fileLog" minlevel="Debug"/>
      <logger name="*" writeTo="eventlog" minlevel="Error"/>
    </rules>
  </nlog>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
  <appSettings>
    <add key="BackupSuffix" value="_yyMMdd_HHmmss"/>
    <add key="OutputDir" value="Out"/>
    <add key="File1" value="In\ETACPA_TIKEHAU.csv"/>
    <!--c:\Users\dat\TestPriceFeed\In1-->
    <add key="XmlTemplate1" value="import_dailyData.xml"/>
    <add key="RepeatingNode1" value="dailyDataByInstrument"/>
    <add key="File2" value="In\OV_ETACPA_TIKEHAU.csv"/>
    <!--c:\Users\dat\TestPriceFeed\In2-->
    <add key="XmlTemplate2" value="import_dailyData.xml"/>
    <add key="RepeatingNode2" value="dailyDataByInstrument"/>
    <add key="OracleConnectionString" value="Data Source=(DESCRIPTION =(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=173.249.18.137)(PORT=1521)))(CONNECT_DATA =(SID=UP7220)));User ID=VALUE_PROD;Password=system123$"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
</configuration>
