<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
  <sectionGroup name="CSV" type="RichMarketAdapter.ticket.adapters.csv.CSVGroup, SophisCsv, Version=7.1.3.0, Culture=neutral, PublicKeyToken=799442e4f418bb07" >
			<section name="File" type="RichMarketAdapter.ticket.adapters.csv.CSVSection, SophisCsv, Version=7.1.3.0, Culture=neutral, PublicKeyToken=799442e4f418bb07" allowExeDefinition="MachineToLocalUser" />
   <section name="Mail" type="sophis.configuration.file.MailAlertSection, SophisAdapterCommon.Configuration, Version=7.1.3.0, Culture=neutral, PublicKeyToken=799442e4f418bb07" allowExeDefinition="MachineToLocalUser" />
  </sectionGroup>
		<sectionGroup name="RichMarketAdapter" type="sophis.configuration.rich.RichCoreGroup, SophisAdapterCommon.Configuration, Version=7.1.3.0, Culture=neutral, PublicKeyToken=799442e4f418bb07" >
			<section name="Core" type="sophis.configuration.rich.CoreSection, SophisAdapterCommon.Configuration, Version=7.1.3.0, Culture=neutral, PublicKeyToken=799442e4f418bb07" allowExeDefinition="MachineToLocalUser" />
   <section name="Persistence" type="sophis.configuration.rich.PersistenceSection, SophisAdapterCommon.Configuration, Version=7.1.3.0, Culture=neutral, PublicKeyToken=799442e4f418bb07" allowExeDefinition="MachineToLocalUser" />
   <section name="Transaction" type="sophis.configuration.rich.TransactionSection, SophisAdapterCommon.Configuration, Version=7.1.3.0, Culture=neutral, PublicKeyToken=799442e4f418bb07" allowExeDefinition="MachineToLocalUser" />
   <section name="XML" type="sophis.configuration.rich.XMLSection, SophisAdapterCommon.Configuration, Version=7.1.3.0, Culture=neutral, PublicKeyToken=799442e4f418bb07" allowExeDefinition="MachineToLocalUser" />
  </sectionGroup>
		<sectionGroup name="Service" type="sophis.configuration.common.ServiceGroup, SophisAdapterCommon.Configuration, Version=7.1.3.0, Culture=neutral, PublicKeyToken=799442e4f418bb07" >
			<section name="Service" type="sophis.configuration.common.ServiceSection, SophisAdapterCommon.Configuration, Version=7.1.3.0, Culture=neutral, PublicKeyToken=799442e4f418bb07" allowExeDefinition="MachineToLocalUser" />
  </sectionGroup>
	 <sectionGroup name="APIConfiguration" type="Sophis.API.Configuration.APIConfigurationGroup, Sophis.API.Configuration, Version=7.1.3.0, Culture=neutral, PublicKeyToken=799442e4f418bb07" >
   <section name="Toolkit" type="Sophis.API.Configuration.ToolkitSection, Sophis.API.Configuration, Version=7.1.3.0, Culture=neutral, PublicKeyToken=799442e4f418bb07" allowExeDefinition="MachineToLocalUser" />
  </sectionGroup>
  <sectionGroup name="Common" type="sophis.configuration.CommonConfigurationGroup, SophisCommonConfiguration, Version=7.1.3.0, Culture=neutral, PublicKeyToken=799442e4f418bb07" >
   <section name="RisqueDatabase" type="sophis.configuration.DatabaseConnectionConfiguration, SophisCommonConfiguration, Version=7.1.3.0, Culture=neutral, PublicKeyToken=799442e4f418bb07" allowExeDefinition="MachineToLocalUser" />
   <section name="Log" type="sophis.configuration.LogConfiguration, SophisCommonConfiguration, Version=7.1.3.0, Culture=neutral, PublicKeyToken=799442e4f418bb07" allowExeDefinition="MachineToLocalUser" />
  </sectionGroup>
  <sectionGroup name="ErrorReplay" type="sophis.configuration.replay.ReplayGroup, SophisAdapterCommon.Configuration, Version=7.1.3.0, Culture=neutral, PublicKeyToken=799442e4f418bb07" >
   <section name="Replay" type="sophis.configuration.replay.ReplaySection, SophisAdapterCommon.Configuration, Version=7.1.3.0, Culture=neutral, PublicKeyToken=799442e4f418bb07" allowExeDefinition="MachineToLocalUser" />
  </sectionGroup>
 </configSections>
 <RichMarketAdapter>
		<Core SourceID="RBCUpload" Adapter="CSV" AdapterClass="RichMarketAdapter.ticket.adapters.csv.CSVAdapter"
   AdapterAssembly="SophisCSV" Communicator="xml" MaxBlockSize="10000"
   GenerateExternal="false" GenerateEntityRequest="true">
   <Filters>
    <clear />
    <add SourceIdList="*" ClassName="Mediolanum_RMA_FILTER.CSxCAMergerFilter"
     Module="Mediolanum_RMA_FILTER" />
   </Filters>
   <ResolutionPolicy>
    <clear />
   </ResolutionPolicy>
  </Core>
  <Persistence />
  <Transaction MaxRetry="3" />
  <XML ServerURL="http://FR1CSWPSFFR0021:9090/DataExchangeWsHttpRouter\DataExchangeServiceRMA"
   RetryDelay="60" MaxRetry="2" MaxConnections="10" EnableCookies="true"
   Login="RBCUploader" Password="ECELOMOMIJCPJOGKEPFCDBLIAIAEGCAD"
   LogTicketMessage="true" DefaultUniversal="TICKER" ProcessOptionWithUniversal="true"
   ProcessFutureWithUniversal="true" />
 </RichMarketAdapter>
	<Service>
		<Service>
   <ServiceTypes>
    <add ClassName="RichMarketAdapter.core.RichMarketAdapterTask"
     Module="SophisRichCore" />
   </ServiceTypes>
  </Service>
 </Service>
 <CSV>
  <File FieldConfiguration="./data/csv/RBCUploader.xml" FileBaseName="MEDIO" />
  <Mail />
 </CSV>
 <Common>
  <RisqueDatabase ConnectionTag="PROD" User="MEDIOPRODVALUE" Password="HHNLHPKOGDAIGALPNOIHDAIKHCAKIHKK"
   Server="PAR112C" />
  <Log Verbosity="Debug" />
 </Common>
 <APIConfiguration>
  <Toolkit>
   <CustomParameters>
    <clear />
    <add Section="MediolanumRMA" Entry="ValidateForexAmount" Value="false" />
    <add Section="MediolanumRMA" Entry="DefaultBOKernelEvent" Value="Book and Accept (FO)" />
    <add Section="MediolanumRMA" Entry="ReplaceBORemarks" Value="true" />
    <add Section="MediolanumRMA" Entry="FundBloombergRequestType"
     Value="ExternalFund " />
    <add Section="MediolanumRMA" Entry="SharesPricedInSubunits" Value="GBP;ILS;ZAR" />
    <add Section="MediolanumRMA" Entry="OverrideCreationEvent" Value="true" />
    <add Section="MediolanumRMA" Entry="MAMLTradeCreationEvent" Value="MAML Upload" />
    <add Section="MediolanumRMA" Entry="DelegateTradeCreationEvent"
     Value="Delegate Upload" />
    <add Section="MediolanumRMA" Entry="DefaultHedgeCounterparty"
     Value="HEDGEPRGM" />
    <add Section="MediolanumRMA" Entry="UseDefaultCounterparty" Value="false" />
    <add Section="MediolanumRMA" Entry="CashTransferBusinessEvent"
     Value="Cash Transfer" />
    <add Section="MediolanumRMA" Entry="TACashBusinessEvent" Value="Subscription/Redemption" />
    <add Section="MediolanumRMA" Entry="UseDefaultDepositary" Value="false" />
    <add Section="MediolanumRMA" Entry="CADefaultBusinessEvent" Value="Free" />
    <add Section="MediolanumRMA" Entry="TACashInstrumentNameFormat"
     Value="S/R for fund '%FUND%'" />
   </CustomParameters>
  </Toolkit>
 </APIConfiguration>
 <ErrorReplay>
  <Replay LoadedStatus="1" />
 </ErrorReplay>
</configuration>