<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
    <section name="oracle.manageddataaccess.client"
      type="OracleInternal.Common.ODPMSectionHandler, Oracle.ManagedDataAccess, Version=4.122.19.1, Culture=neutral, PublicKeyToken=89b483f429c47342"/>
  </configSections>
  <nlog autoReload="true" throwExceptions="false" xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <variable name="appName" value="FibDataIntegration"/>
    <targets async="true">
      <!--${callsite:className=true:includeSourcePath=false:methodName=true}-->
      <target xsi:type="Console" name="consoleLog"
        layout="${longdate}  ${level:uppercase=true} ${threadid} ${callsite:className=false}: ${message}${onexception:${newline}EXCEPTION\: ${exception:format=ToString,StackTrace}}"/>
      <target xsi:type="File" name="fileLog"
        layout="${longdate}  ${level:uppercase=true} ${threadid} ${callsite:className=false}: ${message}${onexception:${newline}EXCEPTION\: ${exception:format=ToString,StackTrace}}"
        fileName="logs/FibDataIntegration.log" keepFileOpen="false" archiveFileName="logs/FibDataIntegration_${shortdate}.{##}.log" archiveNumbering="Sequence"
        archiveEvery="Day" maxArchiveFiles="30"/>
      <target xsi:type="EventLog" name="eventlog" source="${appName}" layout="${message}${newline}${exception:format=ToString}"/>
    </targets>
    <rules>
      <logger name="*" writeTo="consoleLog" minlevel="Debug"/>
      <logger name="*" writeTo="fileLog" minlevel="Debug"/>
      <logger name="*" writeTo="eventlog" minlevel="Error"/>
    </rules>
  </nlog>
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
    <appSettings>
      <add key="XmlTemplate" value=".\XmlTemplate\importYieldCurve.xml"/>
      <add key="YCXmlTemplate" value=".\XmlTemplate\importYieldCurve.xml"/>
      <add key="IRSPXmlTemplate" value=".\XmlTemplate\ImportInterestRatesAndStockPrices.xml"/>
      <add key="VLXmlTemplate" value=".\XmlTemplate\ImportVolatility.xml"/>
      <add key="CDSXmlTemplate" value=".\XmlTemplate\ImportCreditRisk.xml"/>
      <add key="FXXmlTemplate" value=".\XmlTemplate\ImportForex.xml"/>
      
      <add key="YCExcelTemplate" value=".\ExcelTemplates\YC_DataSet.xlsm"/>
      <add key="IRExcelTemplate" value=".\ExcelTemplates\IR_DataSet.xlsm"/>
      <add key="SPExcelTemplate" value=".\ExcelTemplates\SP_DataSet.xlsm"/>
      <add key="VLExcelTemplate" value=".\ExcelTemplates\VL_DataSet.xlsm"/>
      <add key="CDSExcelTemplate" value=".\ExcelTemplates\CDS_DataSet.xlsm"/>
      <add key="FXExcelTemplate" value=".\ExcelTemplates\FX_DataSet.xlsm"/>
      
      <add key="RepeatingNode" value="point"/>
      
      <add key="YCRepeatingNodeByYieldCurve" value="market"/>
      <add key="YCRepeatingNodeByPoint" value="point"/>
      <add key="YCCurrencyNode" value="currency"/>
      <add key="YCFamilyNode" value="family"/>
      <add key="YCNameNode" value="name"/>
      <add key="YCPeriodMultiplierNode" value="periodMultiplier"/>
      <add key="YCPeriodEnumNode" value="periodEnum"/>
      <add key="YCRateNode" value="yield"/>
      
      <add key="IRSPRepeatingNode" value="quotesByDate"/>
      <add key="IRSPRepeatingNodeBySICOVAM" value="quotationsByInstrument"/>
      <add key="IRSPRepeatingNodeByLast" value="quotesByDate"/>
      <add key="IRSPIdentifierNode" value="identifier"/>
      <add key="IRSPSICOVAMNode" value="sophis"/>
      <add key="IRSPDateNode" value="quotationDate"/>
      <add key="IRSPLastNode" value="value"/>

      <add key="VLRepeatingNodeByYieldCurve" value="volatilityData"/>
      <add key="VLRepeatingNodeByPoint" value="volatilityPoint"/>
      <add key="VLSicovamNode" value="sophis"/>
      <add key="VLPeriodMultiplierNode" value="periodMultiplier"/>
      <add key="VLPeriodEnumNode" value="periodEnum"/>
      <add key="VLRateNode" value="atTheMoney"/>
      
      
      <add key="CDSRepeatingNode" value="curvesByCurrency"/>
      <add key="CDSmaturiryNode" value="unadjustedDate"/>
      <add key="CDScurrencyNode" value="currency"/>
      <add key="CDSSICOVAMNode" value="sophis"/>
      <add key="CDSseniorityNode" value="seniority"/>
      <add key="CDSdefaultEventNode" value="defaultEvent"/>
      <add key="CDSreferenceNode" value="reference"/>
      <add key="CDSrateNode" value="rate"/>
      <add key="CDSbidRateNode" value="bidRate"/>
      <add key="CDSaskRateNode" value="askRate"/>
      <add key="CDSdayCountBasisNode" value="dayCountBasis"/>
      <add key="CDSyieldCalculationNode" value="yieldCalculation"/>
      <add key="CDSperiodicityTypeNode" value="periodicityType"/>
      <add key="CDSconfidenceNode" value="confidence"/>
      <add key="CDSisUsedNode" value="isUsed"/>

      <add key="FXRepeatingNode" value="market"/>
      <add key="FXCurrency1" value="currency1"/>
      <add key="FXCurrency2" value="currency2"/>
      <add key="FXCurrency" value="currency"/>
      <add key="FXQuoteBasis" value="quoteBasis"/>
      <add key="FXValue" value="value"/>
      
      <add key="YCOutputFile" value="ImportYieldCurves_yyyyMMddHHmmss.xml"/>
      <add key="IROutputFile" value="ImportInterestRates_yyyyMMddHHmmss.xml"/>
      <add key="SPOutputFile" value="ImportStockPrices_yyyyMMddHHmmss.xml"/>
      <add key="VLOutputFile" value="ImportVolatility_yyyyMMddHHmmss.xml"/>
      <add key="CDSOutputFile" value="ImportCreditRisk_yyyyMMddHHmmss.xml"/>
      <add key="FXOutputFile" value="ImportForex_yyyyMMddHHmmss.xml"/>

      <add key="BatchFile" value="batchEOD_1.bat"/>
      
      
      
      <add key="OutputFile" value="ImportYieldCurves_yyyyMMddHHmmss.xml"/>
      <add key="OutputDir" value="C:\Users\Salah\Documents\MyProjects\MDT\MDT_Final_Tool_EOD\Version2\FibDataIntegration\FibDataIntegration\FibDataIntegration\bin\Debug\Output"/> <!-- FileConnector Input Directory -->
      <add key="BackupDir" value="Backup"/>
      <add key="ApiBackendUrl" value="https://api.centralbankofmorocco.ma/"/>
      <add key="TokenName" value="Ocp-Apim-Subscription-Key"/>
      <add key="TokenValue" value="430d272d8505475588edd01caac4e323"/>
      <add key="OracleConnectionString"
          value="Data Source=(DESCRIPTION =(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=10.0.0.18)(PORT=1521)))(CONNECT_DATA =(SID=sophis)));User ID=demo_72_am;Password=system123$"/>
      <add key="HolidaySqlQuery" value="SELECT DATEFER FROM FERIES WHERE CODEDEV = STR_TO_DEVISE('MAD')"/>
      <add key="ImmediateProcessing" value="true"/>
      <add key="FirstExecTime" value="04:00"/> <!-- HH:mm, 05:00 = 5am -->
      <add key="Interval" value="1440"/> <!-- in minutes, 1440 = daily, 60 = hourly-->
    </appSettings>
    <system.data>
        <DbProviderFactories>
            <remove invariant="Oracle.ManagedDataAccess.Client"/>
            <add name="ODP.NET, Managed Driver" invariant="Oracle.ManagedDataAccess.Client" description="Oracle Data Provider for .NET, Managed Driver"
                type="Oracle.ManagedDataAccess.Client.OracleClientFactory, Oracle.ManagedDataAccess, Version=4.122.19.1, Culture=neutral, PublicKeyToken=89b483f429c47342"/>
        </DbProviderFactories>
    </system.data>
    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
                <publisherPolicy apply="no"/>
                <assemblyIdentity name="Oracle.ManagedDataAccess" publicKeyToken="89b483f429c47342" culture="neutral"/>
                <bindingRedirect oldVersion="4.121.0.0 - 4.65535.65535.65535" newVersion="4.122.19.1"/>
            </dependentAssembly>
        </assemblyBinding>
    </runtime>
    <oracle.manageddataaccess.client>
        <version number="*">
            <dataSources>
                <dataSource alias="SampleDataSource"
                    descriptor="(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=localhost)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=ORCL))) "/>
            </dataSources>
        </version>
    </oracle.manageddataaccess.client>
</configuration>
