<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="UniversalAdapter" type="sophis.connector.configuration.UniversalAdapterGroup, Sophis.UniversalAdapter.Configuration, Version=21.2.0.0, Culture=neutral, PublicKeyToken=799442e4f418bb07" >
            <section name="SoaConnection" type="sophis.connector.configuration.SoaConnectionSection, Sophis.UniversalAdapter.Configuration, Version=21.2.0.0, Culture=neutral, PublicKeyToken=799442e4f418bb07" allowExeDefinition="MachineToLocalUser" />
        </sectionGroup>
    </configSections>
    <UniversalAdapter>
        <SoaConnection>
            <SoaServers>
                <clear />
                <SoaServer ServerLogin="ISUSER" ServerPassword="MMLBBBFHPFOPKBGCEPFCDBLIAIAEGCAD"
                  DataExchangeUri="http://localhost.misys.global.ad:9090/IS/DataExchangeService/"
                  DataExchangeTimeout="1" MethodDesignerUri="http://localhost.misys.global.ad:9090/IS/SoaMethodDesignerService/"
                  MethodDesignerTimeout="10" />
            </SoaServers>
        </SoaConnection>
    </UniversalAdapter>
  
</configuration>