*.sdf
*.opensdf
ipch/
*.suo
EffStdLib/x64/
EffStdLib/output/
ToolkitRapprochement/x64/
ToolkitRapprochement/output/
ToolkitEmafi/x64/
ToolkitEmafi/output/
*.aps
ToolkitVLComptable/x64/
/ToolkitVLComptable/output
ToolkitVLComptable/
ToolkitMaps/x64/
GLInterface/x64/
GLInterface/output/
Debug
/packages
*.user
