<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <clear />
    <add name="ORASOPHISTEST" connectionString="Data Source=ORCLTEST;User Id=v43sophis;Persist Security Info=false;Password=value" />
    <add name="SQLSERVERREPBASE" connectionString="Data Source=ORCLTEST;User Id=v43sophis;Persist Security Info=false;Password=value" />
    <!--<add name="ORASOPHISTEST" connectionString="User Id= v43sophis;Password=;
                           Data Source =(DESCRIPTION =(ADDRESS_LIST = (ADDRESS = (PROTOCOL = TCP)(HOST = tim-vmorclpp01.tikehauim.com)(PORT = 1521)))(CONNECT_DATA =(SERVICE_NAME = ORCLUAT.tikehauim.com)));
                           Min Pool Size=10;Max Pool Size=100;Connection Lifetime=120;Connection Timeout=60;Incr Pool Size=5; Decr Pool Size=2" providerName="System.Data.OracleClient"/>-->
  </connectionStrings>
</configuration>