<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="RBC" type="RBCInstrumentsPrice.RBCConfigurationSectionGroup, RBCInstrumentsPrice" >
      <section name="RBCSetup" type="RBCInstrumentsPrice.RBCConfigurationSection, RBCInstrumentsPrice" />
      <section name="AllotmentsSetup" type="RBCInstrumentsPrice.AllotmentsSection, RBCInstrumentsPrice" />
    </sectionGroup>
    
    
    </configSections>
  
  <RBC>
    <RBCSetup InputFolder=""
			  ProcessedFolder=""
              FileForNotFoundInstruments=""
              User="MEDIODEVVALUE" Password="" Server="MDLDEV"
			  InScopeQuery="select INSTR_ID, INSTR_ALLOTMENT, INSTR_CCY, INSTR_NAME, INSTR_REF, decode (ISIN_VALUE, null, INSTR_REF,ISIN_VALUE) ISIN_VALUE, ID_BB_UNIQUE from MEDIO_INSTRUMENT_MASTER_TEST"/> 
    <!--InScopeQuery="select INSTR_ID, INSTR_ALLOTMENT, INSTR_CCY, INSTR_NAME,INSTR_REF, decode (ISIN_VALUE, null, INSTR_REF,ISIN_VALUE) ISIN_VALUE, i.VALUE as ID_BB_UNIQUE
from MEDIO_INSTRUMENT_MASTER m left join EXTRNL_REFERENCES_INSTRUMENTS i on m.INSTR_ID=i.SOPHIS_IDENT and REF_IDENT=16
where (TO_DATE(LAST_DATE, 'dd/mm/yyyy') < MEDIO_OPT_MINUS_DAYS(sysdate,2,STR_TO_NUM('EUR')) or LAST_DATE is null)
and TO_DATE(CREATION_DATE, 'dd/mm/yyyy')<MEDIO_OPT_MINUS_DAYS(sysdate,1,STR_TO_NUM('EUR'))
and INSTR_TYPE not in ('INFLATION','R','I')
and (SECTOR_MEDIO_PRC_EXCEPTIONS <>'Stale Price exception' or SECTOR_MEDIO_PRC_EXCEPTIONS is null)"/>-->
			  

    <AllotmentsSetup AllotmentsCUVAL="GFP FUNDS;EQUITY;WARRANT;GOVERNMENT BOND;ETF;EXTERNAL FUND;CORPORATE BOND;COCO BOND;REIT;CONVERTIBLE BOND;ABS MBS BOND;LOAN;CERTIFICATE;RIMES BOND"
                     AllotmentsSWAPS="CDX;TRS EQUITY BASKET;TRS FIXED INCOME SINGLE;IRS;CDS;TRS EQUITY SINGLE;INFLATION SWAP"
                     AllotmentsOPTIONS="LISTED OPTION;IR DERIVATIVE;OTC FX OPTION SINGLE"
                     AllotmentsFUTURES="EQUITY FUTURE;INT RATE FUTURE;CCY FUTURE"
                     AllotmentsPriceMultiply="CDX;TRS EQUITY BASKET;TRS FIXED INCOME SINGLE;IRS;CDS;TRS EQUITY SINGLE;INFLATION SWAP"
                     AllotmentsPriceDivide="CERTIFICATE;WARRANT"
                      />
  </RBC>
  
  <startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0.1"/></startup>	
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Oracle.DataAccess" publicKeyToken="89B483F429C47342" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-2.112.4.0" newVersion="2.112.4.0"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
